<ion-header>
  <ion-toolbar>
    <ion-title> Input Test </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header> Radio - Legacy Syntax </ion-list-header>

  <ion-radio-group [(ngModel)]="selectedFruit">
    <ion-list>
      <ion-item>
        <ion-label class="ion-text-wrap">
          Apples are a fruit that are green or red and can be eaten raw or
          cooked in a pie.
        </ion-label>
        <ion-radio value="apples"> </ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-wrap">
          Bananas are a fruit that are yellow and are peeled before eating.
        </ion-label>
        <ion-radio value="bananas"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-list-header> Radio - Modern Syntax </ion-list-header>

  <ion-radio-group [(ngModel)]="selectedFruit">
    <ion-list>
      <ion-item>
        <ion-radio value="apples">
          <ion-label class="ion-text-wrap">
            Apples are a fruit that are green or red and can be eaten raw or
            cooked in a pie.
          </ion-label>
        </ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="bananas">
          <ion-label class="ion-text-wrap">
            Bananas are a fruit that are yellow and are peeled before eating.
          </ion-label>
        </ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-list-header> Checkbox - Legacy Syntax </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Apples are a fruit that are green or red and can be eaten raw or cooked
        in a pie.
      </ion-label>
      <ion-checkbox checked> </ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-wrap">
        Bananas are a fruit that are yellow and are peeled before eating.
      </ion-label>
      <ion-checkbox checked></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-list-header> Checkbox - Modern Syntax </ion-list-header>

  <ion-list>
    <ion-item>
      <ion-checkbox checked>
        <ion-label class="ion-text-wrap">
          Apples are a fruit that are green or red and can be eaten raw or
          cooked in a pie.
        </ion-label>
      </ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-checkbox checked>
        <ion-label class="ion-text-wrap">
          Bananas are a fruit that are yellow and are peeled before eating.
        </ion-label>
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
